---
import ThreeColumnLayout from '../layouts/ThreeColumnLayout.astro';
---

<ThreeColumnLayout title="Not Found">
  <article>
    <h1>404</h1>
    <p>Page not found. Return to the <a href="/">Index</a>.</p>
  </article>
</ThreeColumnLayout>
